body {
    background-image: url(../images/office2.jpg);
    background-color: #75a3f5;
    background-size: 100%;
}

blockquote {
    border: none;
    font-size:smaller;
    font-style:italic;
    padding: 0px;
}

footer.block-citation {
    color: white;
}

#content {
    background-color: #30664f;
    color: white;
    margin-top: 0px;
    padding: 0px;
}

#navheader {
    margin-bottom: 0px;
}

#wordcloud {
    margin-top: 20px;
}

.section-divider {
    border-top: 4px solid;
    border-color: white;
    width: 40%;
    text-align: center;
}

.enclosed-anchor {
    color: white;
}

.enclosed-anchor:hover {
    color: white;
}

.profile-image {
    max-height: 300px;
    margin-bottom: 20px;
}

.skills-list h3 {
    margin: 0px;
}

.primary-logo {
    background-color: #05241a;
    padding: 10px 0px 30px 0px;
}

.col-xs-offset-05 {
    margin-left: 4.16666667%;
}