body {
    background-color: #75a3f5;
    background-image: url(/media/images/office2.jpg);
    background-size: 100%;
}

blockquote {
    border: none;
    font-size:smaller;
    font-style:italic;
}

footer.block-citation {
    color: white;
}

#content {
    background-color: #30664f;
    color: white;
    margin-top: 0px;
}

#navheader {
    margin-bottom: 0px;
}

#wordcloud {
    margin-top: 20px;
}

.col-xs-quote-align {
    width: 32.0%;
}

.section-divider {
    border-top: 1px solid;
    border-color: white;
}